@import "../variables.scss";

$image-gap: 100px;
$side-gap: min(60px, 6vw);


.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .card {
    max-width: 1200px;
    display: flex;
    padding: 10px 0;
    margin: 0px 40px 100px 40px;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 60px;

    .content {
      max-width: 45%;
      min-width: 260px;
      text-align: left;

      h1 {
        padding: 20px 0;
      }

      .text {
        font-size: 16px;
        margin: 10px 0;
      }
    }

    .image {
      img {
        object-fit: contain;
      }
    }
  }

  .flip {
    flex-flow: row-reverse;
  }

  @media screen and (max-width: $tablet-breakpoint) {
    .card {
      flex-direction: column-reverse;
      margin: unset;

      .content {
        max-width: 70%;
        margin: 14px auto;
        h1 {
          text-align: center;
        }
      }

      .image {
        width: unset !important;
        margin: unset;
      }
    }
  }

  @media screen and (max-width: $sidebar-breakpoint) {
    .card {
      .content {
        width: 95%;

        .image {
          img {
            height: 200px !important;
          }
        }
      }
    }
  }
}