@import "../variables.scss";

$width-calendar: 80%;
$max-width-calendar: 900px;

.events {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: center;

    .calendarWrapper {
        height: 600px;
        width: $width-calendar;
        max-width: 900px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 2rem 0px;

        .eventButton {
            margin: 0px 12px 8px auto;
            padding: 12px;
            background-color: $acm-primary;
            color: white;
            border: 1px;
            border-radius: 2rem;
        }
    }

    @media screen and (max-width: 600px) {
        .calendarWrapper {
            flex-direction: column-reverse;

            .eventButton {
                margin: 10px 0;
            }
        }
    }

    .calendar {
        height: 100%;
        width: 100%;
        border-radius: 20px;
    }
}

// @media screen and (max-width: 600px) {
//     .events {
//         .calendarWrapper {
//             flex-direction: column-reverse;
//         }
//     }
// }
