$width-calendar: 80%;
$max-width-calendar: 850px;

.events {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: center;

    .calendarWrapper {
        height: 600px;
        width: $width-calendar;
        max-width: 900px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 2rem 0;
    }
    .calendar {
        height: 100%;
        width: 100%;
        border-radius: 20px;
    }
}
