@import "../variables";

.title {
    text-align: left;
    width: 100%;
    margin: 0 20px;
}

.userInfo {
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    .header {
        margin: 0 10px;
    }
}

.experience {
    margin: 10px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    .header {
        margin: 0px 10px;
    }
}

.designation {
    font-size: 15px;
}

.userImg {
    margin-top: -6vh;
    margin-right: 5.5vw;
    margin-left: 1.5vw;
    border: 2px solid black;
    border-radius: 100%;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.details {
    display: flex;
    flex-direction: row;
    margin: 10px 20px;
    align-items: center;

    .contributors {
        flex-basis: 70%;

        .leaderboard {
            margin: 10px 0;
            border-radius: 15px;
            box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
                rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
        }
    }

    .space {
        flex: 1;
    }
}

.menu {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #99c8ff;
    color: black;
    padding-left: 10px;

    .MenuButton {
        height: 100%;
        padding: 10px;
        color: black;
        font-weight: bold;
        font-size: larger;
    }

    .active {
        background-color: $acm-primary;
        color: white;
    }
}

.cardcontainer {
    margin-top: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 500px;
    height: 250px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.events {
    display: flex;
    flex-direction: column;
    padding: 20px 10px;
    width: 100%;

    .eventTile {
        display: flex;
        flex-direction: row;
        width: 100%;
        padding: 10px 20px;
        align-items: center;
        transition: background-color 0.3s ease;
        border: 2px solid #eeeeee;
        border-radius: 1.5rem;
        margin: 0.5rem;
        justify-content: space-between;

        &:hover {
            background-color: #eeeeee;
            transform: scale(1.01);
        }

        .eventName {
            margin: 10px 0;
            font-size: 24px;
            width: 30%;
            word-wrap: break-word;
        }

        .date {
            color: $font-primary-color;
            width: 30%;
            text-align: center;
        }
        .xp_gained {
            font-size: 24px;
            width: 30%;
            font-weight: 800;
            text-align: right;
        }
    }
}

@media screen and (max-width: $laptop-breakpoint) {
    .details {
        flex-direction: column;

        .contributors {
            flex-basis: 100%;
            width: 100%;
        }

        .space {
            flex: none;
        }
    }
    .trending {
        flex-direction: column;

        .header {
            margin: 10px;
        }
    }
}

@media screen and (max-width: $navbar-breakpoint) {
    .title {
        text-align: center;
    }

    .trending {
        display: flex;
        flex-direction: column;
        align-items: center;

        .header {
            margin-bottom: -20px;
        }
    }

    .details {
        .contributors {
            margin-bottom: 10px;

            .header {
                text-align: center;
            }
        }
    }

    .userInfo {
        flex-direction: column;
        align-items: start;
        font-size: 12px;
        .header {
            margin: 10px 0;
        }
    }

    .card {
        width: 90%;
    }
}
