@import "../variables";

.title {
    text-align: left;
    width: 100%;
    margin: 0 20px;
}

.trending {
    margin: 10px;
    display: flex;
    flex:1;
    .header {
        margin: 0 10px;
    }
}

.trending1 {
  margin: 10px;
  margin-right: 20px;
  display: flex;
  flex:1;
  justify-content: right;
  .header {
      margin: 0px 10px;
  }
}


.designation{
    font-size: 15px;
}

.userImg{
    margin-top: -6vh;
    margin-right: 5.5vw;
    margin-left: 1.5vw;
    border: 2px solid black;
    border-radius: 100%;
}

.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.details {
    display: flex;
    flex-direction: row;
    margin: 10px 20px;
    align-items: center;

    .contributors {
        flex-basis: 70%;

        .leaderboard {
            margin: 10px 0;
            border-radius: 15px;
            box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
        }
    }

    .space {
        flex: 1;
    }

}

.menu{
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #99C8FF;
    height: 7vh;
    color:black;
    
}

.MenuButton{
  margin: 0px 20px;
  color: black;
  font-weight: bold;
  font-size: larger;
}

.cardcontainer {
  margin-top: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 500px;
  height: 250px;
  border : 5px solid #99C8FF;
  border-radius: 10px;
  //box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;

}

.outtercard {
  width: 600px;
  height: 300px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;

}

.cardcontent {
  text-align: center;
}

.cardborder {
  border-color: #99C8FF;
}

@media screen and (max-width: $laptop-breakpoint) {

    .details {
        flex-direction: column;

        .contributors {
            flex-basis: 100%;
            width: 100%;
        }

        .space {
            flex: none;
        }
    }
}

@media screen and (max-width: $navbar-breakpoint) {

    .title {
        text-align: center;
    }

    .trending {
        display: flex;
        flex-direction: column;
        align-items: center;

        .header {
            margin-bottom: -20px;
        }
    }

    .details {
        .contributors {
            margin-bottom: 10px;

            .header {
                text-align: center;
            }
        }
    }
}

@media screen and (max-width: $laptop-breakpoint) {

  .trending{

    flex-direction: column;

    .header{
      margin:10px;
    }
  }
}