@import "../variables";

.banner {
  width: 100%;
  height: 150px;
  overflow: hidden;
  position: relative;

  .banner_row {
    display: flex;
    overflow: hidden;
  }

  .banner_box {
    height: 15px;
    width: 15px;
    margin: 1px;
    border-radius: 4px;
    flex: 0 0 auto;
    background-color: transparent;
    transition: background-color 0.5s;
  }

  h3 {
    position: absolute;
    top: 95px;
    font-size: 36px;
    margin-left: 50%;
    translate: -50% 0;
    text-align: center;
  }
}


@media screen and (max-width: $navbar-breakpoint) {
  .banner {
      h3 {
          font-size: 32px;
      }
  }
}

@media screen and (max-width: 830px) {
 .banner {
  h3 {
    font-size: 26px;
  }
 } 
}

@media screen and (max-width: 700px) {
  .banner {
   h3 {
     font-size: 20px;
   }
  } 
 }