@import "./../variables.scss";

.modal {
    margin: 10px;
    padding: 10px;
    border-radius: 1rem;
    font-family: 'Josefin_Sans';

    .content {
        word-wrap: break-word;  
        margin-top: 20px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;

        img {
            width: 250px;
            height: 250px;
        }

        .text {
            p {
                margin: 6px 0;
            }

            .subtitle {
                margin-bottom: 12px;

                div {
                    font-size: 14px;
                }
            }
        }      
    }

    .modalHeading {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid $acm-primary;
        padding-bottom: 5px;
    }

    .closeIcon {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 0.5rem;
        width: 32px;
        height: 32px;
        &:hover {
            background-color: $acm-light;
            cursor: pointer;
        }
    }

    h2 {
        max-width: 90%;
    }

    .headsFlex{
        display: flex;
        flex-direction: column;
        width: 94%;
    }

    .flexElements{
        display: flex;
        form {
            margin: 10px;
            padding: 0px;
            width: 90%;
        }
    }

    .uploadFileLabel {
        position: absolute;
        font-size: 11px;
        color: rgba(0, 0, 0, 0.6);
        margin-top: -3.5px;
        background-color: #fff;
        padding-left: 5px;
        padding-right: 5px;
        margin-left: 9px;
        z-index: 1;
        
      }
    .resetDiv{
        width: 100%;
        display: flex;
        border: 1px solid #ccc;
        border-radius: 4px;
    }
    input[type='file']{
        border: none;
        color: rgba(0, 0, 0, 0.6);
        font-size: 15px;
        padding-top: 20px;
        padding-left: 10px;
        height: 55px;
        margin-right: 0px;
        width: 100%;
        cursor: pointer;
    }
    input[type='file']::-webkit-file-upload-button{
        display: none;
    }
    input[type='reset']{
        background-color: #fff;
        border: none;
        cursor: pointer;
        margin: 5px;
        color: rgba(0, 0, 0, 0.6);
    }
}

@media screen and (max-width: $tablet-breakpoint) {
    .modal {
        .content {
            grid-template-columns: 1fr;
            justify-items: center;

            img {
                margin-bottom: 5px;
            }

            .text {
                max-width: 250px;
            }
        }
        .imageDiv{
            display: none;
        }
        .flexElements{
            flex-direction: column;
        }
    }
}

@media screen and (max-width: $sidebar-breakpoint) {
    .modal {
        padding: 10px 0;
        .content {
            img {
                width: 230px;
                height: 230px;
            }

            .text {
                max-width: 230px;

                .subtitle {
                    text-align: center;
                }
            }
        }
    }
}