@import "../variables.scss";

.footer {
  background-color: $acm-primary;
  width: 100vw;
  display: flex;
  color: white;
  padding: 100px 10px 200px 10px;

  .left {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    ul {
      display: flex;
      flex-direction: column;
      align-items: center;
      list-style: none;
      font-size: 16px;

      li {
        margin: 2px 0;
        cursor: pointer;
        font-size: 14px;

        &:hover {
          color: black;
          transition: color 1s;
        }
      }
    }
  }

  .middle {
    flex: 1;
    display: flex;
    flex-direction: column;

    ul {
      list-style: none;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    li {
      text-align: center;
      margin: 2px 0;
      font-size: 14px;

      &:hover {
        color: black;
        transition: color 1s;
      }
    }
  }

  .right {
    flex: 2;
    display: grid;
    place-items: center;

    ul {
      display: grid;
      list-style: none;
      grid-template-columns: repeat(3, auto);

      li {
        border: 1px solid white;
        font-size: 36px;
        height: 66px;
        width: 66px;
        display: grid;
        place-items: center;
        color: $acm-primary;
        background: white;
        margin: 5px;
        border-radius: 20px;
        cursor: pointer;

        a {
          height: 36px;
        }

        &:hover {
          color: white;
          background-color: $acm-primary;
          transition: color, background-color 1s;
        }
      }
    }

  }

  h2 {
    font-size: 28px;
    text-align: center;
    font-weight: 400;
    margin-bottom: 10px;
  }

  @media screen and (max-width: $navbar-breakpoint) {
    flex-direction: column;

    .left {
      margin-bottom: 20px;
    }
    .right {
      margin-top: 20px;
    }
  }
}
