.item {
    display: flex;
    flex-direction: row;
    padding: 10px;
    align-items: center;
    transition: background-color 0.3s ease;
    border: 2px solid #eeeeee;
    border-radius: 1.5rem;
    margin: 0.5rem;

    &:hover {
        background-color: #eeeeee;
        transform: scale(1.01);
    }

    img {
        height: 50px;
        width: 50px;
        border-radius: 50%;
    }

    .details {
        margin: 0 10px;
        flex: 1;
    }

    .xp {
        font-size: larger;
    }
}