@import "../variables.scss";

.card {
    border: 1px solid #d0d0d0;
    width: 240px;
    padding: 10px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    border-radius: 8px;

    h2 {
        font-size: 28px;
        word-wrap: break-word;
    }

    .startTime {
        font-weight: 300;
        font-size: 22px;
    }

    .bold {
        font-weight: 400;
    }
    
    button {
        outline: none;
        background-color: $acm-primary;
        color: white;
        border: 1px solid $acm-primary;
        padding: 10px 30px;
        font-size: 18px;
        border-radius: 10px;
  
        &:hover {
            cursor: pointer;
            background-color: white;
            color: $acm-primary;
            transition: background-color 0.4s, color 0.4s;
        }
    }

    button[name="cp"] {
        color: white;
        background-color: $cp-primary;
        border: 1px solid $cp-primary;

        &:hover {
            color: $cp-primary;
            background-color: white;
        }
    }

    button[name="cyber"] {
        color: white;
        background-color: $cyber-primary;
        border: 1px solid $cyber-primary;

        &:hover {
            color: $cyber-primary;
            background-color: white;
        }
    }

    button[name="dev"] {
        color: white;
        background-color: $dev-primary;
        border: 1px solid $dev-primary;

        &:hover {
            color: $dev-primary;
            background-color: white;
        }
    }

    button[name="socials"] {
        color: white;
        background-color: $socials-primary;
        border: 1px solid $socials-primary;

        &:hover {
            color: $socials-primary;
            background-color: white;
        }
    }

    button[name="ai"] {
        color: white;
        background-color: $ai-primary;
        border: 1px solid $ai-primary;

        &:hover {
            color: $ai-primary;
            background-color: white;
        }
    }

    button[name="wit"] {
        color: white;
        background-color: $wit-primary;
        border: 1px solid $wit-primary;

        &:hover {
            color: $wit-primary;
            background-color: white;
        }
    }

    
}

@keyframes shine {
    to {
      background-position-x: -200%;
    }
}

.suspense {
    h2 {
        height: 60px;
        width: 218px;
    }

    div {
        height: 22px;
        width: 110px;
    }

    button {
        height: 15px;
        width: 70px;
        border: none;
        cursor: default;
        
        &:hover {
            cursor: default;
        }
    }

    h2, div, button {
        background: $fallback-bg-color;
        border-radius: 5px;
        background-size: 200% 100%;
        animation: shine linear infinite 1s;
    }
}