@import "../variables.scss";

.card {
    border: 1px solid #d0d0d0;
    width: 240px;
    padding: 10px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    border-radius: 8px;

    h2 {
        font-size: 28px;
        word-wrap: break-word;
    }

    .startTime {
        font-weight: 300;
        font-size: 22px;
    }

    .bold {
        font-weight: 400;
    }
    
    button {
        outline: none;
        background-color: $acm-primary;
        color: white;
        border: 1px solid $acm-primary;
        padding: 10px 30px;
        font-size: 18px;
        border-radius: 10px;
  
        &:hover {
            cursor: pointer;
            background-color: white;
            color: $acm-primary;
            transition: background-color 0.4s, color 0.4s;
        }
    }

    button[name="cp"] {
        color: white;
        background-color: $cp-primary;
        border: 1px solid $cp-primary;

        &:hover {
            color: $cp-primary;
            background-color: white;
        }
    }

    button[name="cyber"] {
        color: white;
        background-color: $cyber-primary;
        border: 1px solid $cyber-primary;

        &:hover {
            color: $cyber-primary;
            background-color: white;
        }
    }

    button[name="dev"] {
        color: white;
        background-color: $dev-primary;
        border: 1px solid $dev-primary;

        &:hover {
            color: $dev-primary;
            background-color: white;
        }
    }

    button[name="socials"] {
        color: white;
        background-color: $socials-primary;
        border: 1px solid $socials-primary;

        &:hover {
            color: $socials-primary;
            background-color: white;
        }
    }

    button[name="ai"] {
        color: white;
        background-color: $ai-primary;
        border: 1px solid $ai-primary;

        &:hover {
            color: $ai-primary;
            background-color: white;
        }
    }

    button[name="wit"] {
        color: white;
        background-color: $wit-primary;
        border: 1px solid $wit-primary;

        &:hover {
            color: $wit-primary;
            background-color: white;
        }
    }

    
}


@keyframes pulse {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: .7;
    }
}

.suspense {
    align-items: flex-start;
    justify-content: center;
    
    h2 {
        height: 34px;
        width: 190px;
        align-self: center;
        margin-bottom: 20px;
    }

    p {
        height: 18px;
        width: 110px;
        margin-left: 2px;
        margin-bottom: 20px;
    }

    .full {
        width: 210px;
        margin-bottom: 0;
    }

    button {
        height: 10px;
        width: 50px;
        border: none;
        cursor: default;
        align-self: center;
        
        &:hover {
            cursor: default;
            background-color: $fallback-bg-color;
        }
    }

    h2, p, button {
        background: $fallback-bg-color;
        border-radius: 30px;
        background-size: 200% 100%;
        animation: pulse 2s infinite;
        margin-top: 10px;
    }
}