.page {
    display: flex;
    flex-direction: column;
    background-color: white;
    min-height: 100vh;
    
    .children {
        overflow: hidden;
        margin-top: 70px;

    }
}

.dashboard {
    display: flex;
    background-color: #fff;
    min-height: 100vh;
    min-width: 100vw;

    .children {
        overflow: hidden;
        display: flex;
        flex-direction: row;

        .content {
            flex: 1;
            overflow: hidden;
        }
    }
}