@import "../variables";

@keyframes pulse {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: .7;
    }
}

.trending_cards {
    display: flex;
    padding: 30px 0;

    .trending_card {
        margin: 0 10px;
        border-radius: 20px;
        height: 300px;
        width: 300px;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-overflow: ellipsis;
        overflow: hidden;
        color: white;

        h4 {
            font-size: 20px;
        }

        p {
            text-align: center;
        }
    }

    .loading {
        border: 1px solid #d0d0d0;
        cursor: default;
        h4 {
            height: min(20%, 28px);
            width: min(70%, 250px);
            margin-bottom: 24px;
        }

        p {
            height: 16px;
            width: 80%;
            word-break: break-all;
            margin: 4px 0;
            align-self: flex-start;
            margin-left: 20px;
        }

        .half {
            width: 40%;
        }
    
        h4, p {
            background: $fallback-bg-color;
            border-radius: 30px;
            background-size: 200% 100%;
            animation: pulse 2s infinite;
        }
    }
}

@media screen and (max-width: 950px) {
    .trending_cards {
        flex-direction: column;

        .trending_card {
            margin: 20px 0;
        }
    }
}

@media screen and (max-width: $tablet-breakpoint) {
    .trending .trending_cards .trending_card {
        height: 200px;
    }
}
