@import "../variables";

@keyframes shine {
    to {
      background-position-x: -200%;
    }
}

.trending_cards {
    display: flex;
    padding: 30px 0;

    .trending_card {
        margin: 0 10px;
        border-radius: 20px;
        height: 300px;
        width: 300px;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-overflow: ellipsis;
        overflow: hidden;
        color: white;

        h4 {
            font-size: 20px;
        }

        p {
            text-align: center;
        }
    }

    .loading {
        cursor: default;
        h4 {
            height: min(30%, 60px);
            width: min(70%, 250px);
            margin-bottom: 14px;
        }

        p {
            height: 60%;
            width: 80%;
            word-break: break-all;
        }
    
        h4, p {
            background: linear-gradient(
                110deg, 
                #f5f5f5 8%, 
                #ececec 18%, 
                #f5f5f5 33%
            );
            border-radius: 5px;
            background-size: 200% 100%;
            animation: shine linear infinite 1s;
        }
    }
}

@media screen and (max-width: 1000px) {
    .trending_cards {
        flex-direction: column;

        .trending_card {
            width: 80vw;
            margin: 20px 0;
        }
    }
}

@media screen and (max-width: $tablet-breakpoint) {
    .trending .trending_cards .trending_card {
        height: 200px;
    }
}
