$navbar-breakpoint: 900px;
$sidebar-breakpoint: 420px;
$tablet-breakpoint: 768px;
$laptop-breakpoint: 1024px;

$acm-primary: #0075FF;
$error-color: #de071c;
$fallback-bg-color: linear-gradient(110deg, #ececec 8%, #f5f5f5 18%, #ececec 33%);
$color-code-background: #272822;
$color-code-color: #f8f8f2;

$dev-primary: #ef3133;
$ai-primary: #fcba28;
$cp-primary: #5a2e8f;
$socials-primary: #cb1d8c;
$cyber-primary: #38b64b;
$wit-primary: #3cb878;

$font-primary-color: #333;
$font-secondary-color: #595959;
$link-primary-color: #0070C9;