$navbar-breakpoint: 1160px;
$sidebar-breakpoint: 420px;
$tablet-breakpoint: 768px;

// colors

$font-display: 'Josefin Sans', 'Poppins', 'Helvetica Neue', 'Helvetica', sans-serif;
//$font-header: 'Poppins', sans-serif;
//$font-body: 'Open Sans', sans-serif;

$font-primary-color: #333;
$font-secondary-color: #595959;

$acm-primary: #0075FF;